/* Body */

body {
    background-color: grey;
}

/* NavBar */
.navbarBrand {
    background-color: rgb(58, 163, 128);
    color: white !important;
    height: 100%;
}
.mainContainer{
    background-color: white;
    margin-top: 3rem;
}
.aboutMeH1 {
    color: rgb(33, 140, 228);
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

/* footer section */

.footerSection {
    bottom: 0;
    background-color: rgba(22, 21, 21, 0.486);
    width: 100%;
    text-align: center;
    color: white;
    height: 4rem;
    padding-top: 1.25rem;
    border-style: solid;
    border-color: aqua;
    border-width: 0.5rem 0 0 0;
    margin-top: 8rem;
}