/* Body */

body {
    background-color: grey;
}

/* NavBar */

.navbarBrand {
    color: white !important;
    font-size: 1.75rem;
}

.brandHolder {
    background-color: rgb(58, 163, 128);
    margin-left: 6.5rem;
    padding-top: 0.25rem;
    padding-left: 0.75rem;
    height: 4rem;
}
.navbar {
    padding: 0;
}

  
@media only screen and (min-width: 768px) {
    .navbar-nav > li{
        margin-right: 3rem;
      }

      .brandHolder {
          margin-left: 1.5rem;
      }
}

@media only screen and (min-width: 968px){
    .brandHolder {
        margin-left: 8rem;
    }
}

/* mainContainer */

hr{
    border-top: 2px solid grey;
}

.mainContainer{
    background-color: white;
    margin-top: 1.5rem;
}
.aboutMeH1, .contactHeading {
    color: rgb(58, 163, 128);
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.customSubmit {
    background-color: rgb(58, 163, 128);
    border: none;
    border-radius: 0;
}

/* footer section */

.footerSection {
    bottom: 0;
    background-color: rgba(22, 21, 21, 0.486);
    width: 100%;
    text-align: center;
    color: white;
    height: 4rem;
    padding-top: 1.25rem;
    border-style: solid;
    border-color: aqua;
    border-width: 0.5rem 0 0 0;
    margin-top: 8rem;
}